:root {
  /* blue to magenta gradient, 1-4 background & 5 is filter  */
  --gradient-1: rgb(90,103,162);
  --gradient-2: linear-gradient(90deg, rgba(90,103,162,1) 0%, rgba(164,78,158,1) 40%);
  --gradient-3: -webkit-linear-gradient(93deg, rgba(90,103,162,1) 0%, rgba(164,78,158,1) 40%);
  --gradient-4: linear-gradient(93deg, rgba(90,103,162,1) 0%, rgba(164,78,158,1) 40%);
  --filter-5: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5a67a2",endColorstr="#a44e9e",GradientType=1);
/* colors */
  --magenta: #a44e9e;
  --blue: #5a67a2;
  --black: #362E38;
  --white: #FBFBFB;
  --light-gray: #F2F2F2;
}

body {
  font-family: 'Khula', sans-serif;
  font-size: 20px;
  color: var(--black);
  letter-spacing: 1px;
  margin: 0;
  width: 100vw;
  background: var(--gradient-1);
  background: var(--gradient-2);
  background: var(--gradient-3);
  background: var(--gradient-4);
  filter: var(--filter-5);
}
h1{
  font-size: 50px;
}
h2{
  font-size: 22px;
  font-weight: 400;
}
.white-font{
  color: var(--white);
}
.weight-200{
  font-weight: 200;
}
/* Navigation bar */
#navbar{
  background-color: var(--white);
  position: fixed;
  width: 100%;
  z-index: 5;
}
#nav-list {
  display: grid;
  grid-template-columns: auto auto auto;
  list-style: none;
  margin: 5px 0 0 0 ;
  padding: 0.5em;
  font-size: 22px;
  text-align: center;
  align-content: center;
  color: var(--white);
  letter-spacing: 1px;
}
.nav-link{
  color: var(--magenta);
  text-decoration: none;
  padding: 6px 12px 1px 12px;
  border: 2px solid transparent;
  transition: 0.4s;
}
.nav-link:hover {
  border: 2px solid var(--magenta);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}
/* Page container */
#page-container {
  display: grid;
  grid-template-rows: 100vh auto auto auto auto auto;
  width: 100vw;
}

/* Welcome section */
#welcome-section {
  padding-top: 43vh;
  padding-bottom: 45vh;
}
#welcome-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 6vw 100vw;
  border-color: transparent transparent var(--white) transparent;
}
/* Triangle logo, name, tagline grid */
#logo-grid {
  display: grid;
  grid-template-columns: 95px auto;
  grid-template-rows: 100px auto;
  align-items: bottom;
}
#logo{
  grid-row: 1 / 3;
}
#name{
  grid-row: 1 / 2;
}
#name h1{
  font-weight: 300;
}

#tagline{
  grid-row: 2 / 3;
  font-size: 21px;
}

#triangle-logo {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 0 65px 68.5px;
    border-color: transparent transparent transparent var(--white);
    opacity: 0.2;
    line-height: 0;
    _border-color: #000000 #000000 #000000 #6980fe;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    z-index: 5;
}
/* About Section */
#about-anchor{
  position: absolute;
  top: 83vh;
}
#about-section{
  background-color: var(--white);
  padding: 2vw 6vw 5vw 6vw;
}
#about-section p{
  text-align: right;
}


#projects {
  background-color: var(--light-gray);
  padding: 2vw 5vw 2vw 5vw;
}
#project-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100vw 3vw 0;
  border-color: transparent var(--light-gray) transparent transparent;
}
.project-tile {
 display: block;
 position: relative;
 width: 350px;
 height: auto;
}
#project-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 3em;
  justify-content: space-around;
}
.project-img {
  position: relative;
}
.project-img img{
  display: block;
  width: 100%;
  max-width: 399px;
  height: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.project-title {
  text-align: center;
  padding: 6px 0px 6px 0px;
  border: 2.5px solid transparent;
}
.project-link:link {
  text-decoration: none;
  color: var(--black);
  transition: 0.6s ease;
}
.project-title:hover {
   padding: 6px 0px 6px 0px;
   border: 2.5px solid var(--white);
   background-color: var(--white);
   transition: 0.6s ease;
}
.project-title:active {
  color: var(--black);
}
.project-link:visited {
  color: var(--black);
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.6s ease;
  background-color: white;
}
.project-img:hover .img-overlay {
  opacity: 0.6;
}

#contact-section {
   padding: 1vw 6vw 5vw 6vw;

}

.fab {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--main-color);
  color: var(--white);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}
.fab:hover {
  background-color: var(--light-gray);
}
#contact-grid {
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  margin-left: 5vw;
}

@media screen and (max-width: 600px) {
  body{
    font-size: 16px;
    letter-spacing: 0.6px;
  }
  h1{
    font-size: 36px;
  }
  h2{
    font-size: 23px;
    font-weight: 400;
  }
  #welcome-section {
    padding-top: 43vh;
    padding-bottom: 45vh;
  }
  #logo-grid {
    grid-template-columns: 68.5px auto;
    grid-template-rows: 72px auto;
  }
  #triangle-logo {
      border-width: 46.8px 0 46.8px 49.25px;
  }
  #tagline{
    grid-row: 2 / 3;
    font-size: 15px;
    word-wrap: break-word;
  }
  #project-grid {
    grid-template-columns: 80%;

  }
}
